<section>
  <app-pages-hearder [heading]="heading"></app-pages-hearder>
</section>

<section class="main">
  <div class="search">
    <input type="text" placeholder="Search">
  </div>

  <div class="list">
    <div class="list-item">
      <div class="count">
        18
      </div>
      <div class="details">
        <h1>Water case</h1>
        <h3>Water and Juice</h3>
        <h4>Stop order <span>25</span></h4>
        <p>Last Updated: <span>05 Feb 2019</span></p>
      </div>
    </div>
    <div class="list-item">
      <div class="count">
        18
      </div>
      <div class="details">
        <h1>Water case</h1>
        <h3>Water and Juice</h3>
        <h4>Stop order <span>25</span></h4>
        <p>Last Updated: <span>05 Feb 2019</span></p>
      </div>
    </div>
    <div class="list-item">
      <div class="count">
        18
      </div>
      <div class="details">
        <h1>Water case</h1>
        <h3>Water and Juice</h3>
        <h4>Stop order <span>25</span></h4>
        <p>Last Updated: <span>05 Feb 2019</span></p>
      </div>
    </div>
  </div>
</section>
