<section>
    <app-pages-hearder [heading]="heading"></app-pages-hearder>
  </section>
  <section class="main">
  <div class="form">
    <div class="scann-btn" (click)="scann()">
      <label>SCANN BAR CODE</label>
      <img src="../../../assets/home/scann-btn.png" alt="">
      <label class="barcode"> {{barcode}} > </label>
    </div>

    <div class="scanner-hodler" *ngIf="showScann">
      <app-scanner (closeScanner)="closeScanner($event)"></app-scanner>
    </div>
  
    <div class="form-group">
      <label>ITEM CATERGORY</label>
      <select  class="input">
          <option value="">Watter and Juice</option>
        <option value="">Ndu</option>
      </select>
    </div>
 
  
    <div class="form-group">
     
    </div>
  </div>
  </section>