<section class="main-home">
<section class="to-bar">
    <div class="logo">
        <img src="../../../assets/home/bbd-circled-logo.svg" alt="">
    </div>

    <div class="menu">
        <img src="../../../assets/home/menu.svg" alt="">
    </div>
</section>

<section class="stock-level">
    <div class="level">
        <h1>76%</h1>
        <h3>TOTAL STOCK</h3>
        <p>895 ITEMS</p>
    </div>
</section>
<section class="dashboard">
    <ul>
        <li>
            <div class="status">
                <span class="class-1"></span>
            </div>
            <span><a routerLink="stock-item-list">LOW STOCK ITEMS </a></span>
             <span>20</span>
        </li>
        <li>
            
            <div class="status">
                <span class="class-2"></span>
            </div>            <span>RECENTLY REMOVED  </span>
            <span>200</span>
        </li>
        <li>
            <div class="status">
                <span class="class-3"></span>
            </div>            <span>RECENTLY ADDED </span>   
            <span>1500</span>
        </li>
    </ul>
</section>

<section class="buttons">
    <div><a routerLink="remove-stock-item"><img src="../../../assets/home/btn-remove.svg" alt=""></a></div>
    <div><a routerLink="add-stock-item"><img src="../../../assets/home/btn-add.svg" alt=""></a></div>
</section>
</section>
