<section>
  <app-pages-hearder [heading]="heading"></app-pages-hearder>
</section>
<section class="main">
  <div class="form">
    <div class="scann-btn" (click)="scann()">
      <label>SCANN BAR CODE</label>
      <img src="../../../assets/home/scann-btn.png" alt="">
      <label class="barcode"> {{barcode}} > </label>
    </div>

    <div class="scanner-hodler" *ngIf="showScann">
      <app-scanner (closeScanner)="closeScanner($event)"></app-scanner>
    </div>

    <div class="form-group"  *ngIf="categories$ | async as categories">
      <label>ITEM CATERGORY</label>
      <select class="input" [(ngModel)]="itemCategory"   (change)="onCategoryChange($event)" >
        <option *ngFor="let data of categories.categories" [value]="data.categoryId">{{data.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>ITEM NAME</label>
      <select class="input" [(ngModel)]="itemId">
        <option *ngFor="let data of stockItemsFiltered" [value]="data.stock_detailsId">{{data.name}}</option>
      </select>
    </div>  

    <div class="form-group">
      <button class="btn btn-sucess" (click)="add()">Add</button>
    </div>

    <div class="message" *ngIf="canShowMessage">
      <img src="../../../assets/home/info-circle-solid.svg" alt="">
      {{message}}
    </div>
  </div>
</section>
